@{
    ViewBag.Title = "Notification Submitted";

    Layout = null;
}

<html>
<head>
    <title>@ViewBag.Title</title>
    <base href="/">
    @Scripts.Render("~/bundles/notify/script")


</head>
<body class="container">
     
    <h4>
        <strong>  Order Status Updated!!!</strong>
    </h4>
</body>
</html>